

.solid-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.solid-button-container:hover{
  cursor: pointer;
  
}
.solid-button-title {
  font-size: 12px;
  color: white;
  opacity: 70%;
  font-family: 'Open Sans', sans-serif;
  transition: color 0.3s;
}

.solid-button-container:hover .solid-button-title {
  cursor: pointer;
  color: var(--main-var-color);
}

.solid-button-container:hover .download-icon {
  cursor: pointer;
  color: var(--main-var-color);
  border: solid var(--main-var-color) 1px;
}

.download-icon {
    padding: 5px;
    border: solid white 1px;
    border-radius: 8px;
    opacity: 50%;
    margin-right: 10px;
    transition: color 0.3s;
}



