.landing-page-container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  
  .loading-gif {
    width: 100%; /* Ensure the container has full width */
    text-align: center; /* Center the content horizontally */
  }
  
  .loading-gif img {
    width: 10%;
  }


 @media screen and (max-width: 480px) {
    .loading-gif img{
      width: 30%;
    }
 }