
  
  .home-container {
    padding: 10rem 5rem 0 5rem; 
    z-index: -1000;
    height: 90vh;
  }
  
  
  .home-about {
    text-align: center;
   
    color: white;
  }
  
  .home-about-h1 {
    font-size: 50px;
    margin-bottom: 1.5rem;
    font-weight: bold;
  }
  
  .home-about-h3 {
    font-size: 30px;
    margin-top: 1.5rem;
    font-weight: bold;
  }
  
  .home-about-p {
    font-style: italic;
  }
  
.home-components-container{
  margin-top: 5rem;
  align-items: center;
}
  
/*reponsive*/

@media screen and (max-width:1024px) {
  .home-container{
    height: 50vh;
  }
  .home-about-h1 {
    font-size: 40px;
  }

  .home-about-h3 {
    font-size: 24px;
  }


}

/* Responsive styles for even smaller screens (e.g., mobile phones) */
@media only screen and (max-width: 480px) {
  .home-container{
    height: 50vh;
    padding: 10rem 2rem 0 2rem; 
   
  }
  .home-about-h1 {
    font-size: 20px;
    padding-top: 10px;
  }

  .home-about-h3 {
    font-size: 16px;
  }

  .home-about-p {
    font-style: italic;
    font-size: 16px;
  }
  .home-components-container{
    margin-top: 5rem;
    width: 100%;
  }
 
}