.home-container {
  padding: 5rem 5rem 0 5rem;
  height: 90vh;
}

.home-about {
  text-align: left;
  width: 60%;
  color: white;
}

.home-about-h1 {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 2rem;
  color: rgb(202, 200, 202)
}

.home-about-h3 {
  font-size: 50px;
  font-weight: bold;
  color: rgb(103, 89, 104);
  margin-top: 2rem;
}

.home-about-p {
  color: var(--main-var-color);
}

.home-about-p2 {
  color: rgb(103, 89, 104);
  width: 75%;
}

.home-span{
  color: var(--main-var-color);
}

.home-components-container {
  margin-top: 2rem;
 width: 90%;
}

/*reponsive*/

@media screen and (max-width: 1024px) {
  
  .home-container {
    height: 50vh;
  }
  .home-about {
    text-align: left;
    width: 100%;
    color: white;
  }
  .home-about-h1 {
    font-size: 40px;
  }

  .home-about-h3 {
    font-size: 40px;
  }
}

/* Responsive styles for even smaller screens (e.g., mobile phones) */
@media only screen and (max-width: 480px) {
  .home-container {
    height: 75vh;
    padding: 10rem 2rem 0 2rem;
  }
  .home-about {
    text-align: left;
    width: 100%;
    color: white;
  }
  .home-about-h1 {
    font-size: 30px;
  
  }

  .home-about-h3 {
    font-size: 30px;
  }

  .home-about-p {
    font-size: 12px;
  }
  .home-about-p2 {
    font-size: 12px;
  }
  .home-components-container {
    margin-top: 1rem;
    
  }
}
