.home-container {
  padding: 0rem 5rem 0 5rem;
  height: 90vh;
  align-items: center;
  justify-content: center;
  position: relative;
}
.main-img {
  max-width: 100%;
  height: 25rem;
  object-fit: contain;
  display: block;
  margin: 2rem auto;
}

.home-about {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
  color: white;
  height: 100%;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
}

.home-about-h1 {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 1rem;
  color: var(--true-color);
  line-height: 1;
  text-align: center;
  width: 60%;
}
.h1-span {
  color: var(--color-3);
}
.home-about-h3 {
  font-size: 20;
  color: var(--true-color);
  margin: 1rem 0;
  line-height: 1;
}

.home-about-p {
  color: var(--color-3);
}

.home-about-p2 {
  color: var(--color-2);
  width: 75%;
}

.home-span {
  color: var(--color-3);
}

.home-components-container {
  margin-top: 2rem;
  width: 90%;
}

/*reponsive*/

@media screen and (max-width: 1024px) {
  .home-container {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0rem 5rem 0 5rem;
  }

  .home-about {
    text-align: left;
    width: 100%;
    color: white;
  }
  .home-about-h1 {
    font-size: 30px;
  }
}

/* Responsive styles for even smaller screens (e.g., mobile phones) */
@media only screen and (max-width: 480px) {
  .home-container {
    height: 75vh;
    padding: 5rem 2rem 0 2rem;
  }
  .home-about {
    text-align: left;
    width: 100%;
    color: white;
  }
  .home-about-h1 {
    font-size: 30px;
  }

  .home-components-container {
    margin-top: 1rem;
  }
}
