/* Work.css */

.work-section-container {
  margin: 3rem;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.work-section-container.reveal{
  opacity: 1;
  transform: translateY(0);
}

.timeline {
  flex-direction: column;
  gap: 10px;
}

.work-grid-row {
  display: flex;
  gap: 10px;
  position: relative;
  width: 100%;
  align-items: center;
  justify-content: center;
}
a{
  text-decoration: none;
}

.work-card {
  display: flex;
  padding: 2rem;
  box-sizing: border-box;
  border-radius: 10px;
  transition: background-color 0.3s ease;
  width: 50%;
  margin-bottom: 20px;
}
/* .column-divider {
  width: 0.1px;
  background-color: var(--main-var-color);
  height: 100%;
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  opacity: 20%;
} */

.work-card:hover {
  background-color: var(--glass-bg);
  cursor: pointer;
  box-shadow: 0px 1px 5px #00000023;
}

.work-card-image {
  width: 8rem;
  height: 5rem;
  border-radius: 5px;
  box-sizing: border-box;
  border: solid 2px transparent;
}


.work-card-image:hover {
  border: solid 2px rgba(255, 255, 255, 0.336);
}
.work-card-title-container {
  display: flex;
}

.work-card-title {
  color: var(--color-3);
  margin-right: 5px;
}

.work-card-arrow {
  color: var(--color-3);
  transition: transform 0.3s ease;
}

.work-card:hover .work-card-arrow {
  transform: translateX(2px);
}


.work-card-description {
  color: var(--color-2);
  font-size: 15px;
  margin-top: 10px;
}

.work-skill-container {
  display: flex;
  
}

.work-skill {
  margin: 5px;
  padding: 5px 10px;
  background-color: var(--glass-bg);
  color: var(--color-3);
  border-radius: 20px;
  font-size: 12px;
}

@media screen and (max-width:1024px) {
  .column-divider {
    visibility: hidden;
  }

  .timeline {
    flex-direction: column;
   
  }

  .work-grid-row {
    display: inline;
    gap: 0px;
    position: relative;
  }
  .work-card{
    width: 100%;
  }
}

/* Responsive styles for even smaller screens (e.g., mobile phones) */
@media screen and (max-width: 480px) {
  .work-section-container {
    margin: 1rem;
  }

  .column-divider {
    visibility: hidden;
  }

  .work-card-image {
    width: 8rem;
    height: 5rem;
    border-radius: 5px;
    margin: 0;
    box-sizing: border-box;
  }

  .timeline {
    display: flex;
    flex-direction: column;
    gap: 0;
    width: 100%;
  }

  .work-grid-row {
    display: flex;
    flex-direction: column;
    gap: 0;
    position: relative;
    width: 100%;
  }

  .work-card {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    width: 100%;
  }

  .work-card-title {
    color: rgba(255, 255, 255, 0.853);
    margin-right: 5px;
    font-size: 12px;
  }

  .work-card-description {
    color: rgba(255, 255, 255, 0.506);
    font-size: 15px;
    margin-top: 10px;
    font-size: 12px;
  }
  .work-skill {
    margin: 5px;
    padding: 5px 10px;
    background-color: #d15cff1a;
    color: var(--main-var-color);
    border-radius: 20px;
    font-size: 10px;
  }
}
