/* SonarWave.css */

.sonar-container {
    position: relative;
    align-items: center;
    justify-content: center;
    
    
  }
  
  .sonar-dot {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: var(--main-var-color); /* Adjust the dot color */
    border-radius: 50%;
    animation: sonarAnimation 1s linear infinite;
  }
  .sonar-dot1 {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: var(--main-var-color); /* Adjust the dot color */
    border-radius: 50%;
    
  }
  @keyframes sonarAnimation {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    100% {
      transform: scale(3);
      opacity: 0;
    }
  }
  