.glass-container {
  background-color: #ffffff17;
  backdrop-filter: blur(10px);
  padding: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: solid 0.01px rgba(255, 255, 255, 0.227);
  display: flex;
  z-index: -1;
  text-align: center;
  display: block;
  
}

.glass-lang-icon {
  padding: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.glass-lang-icon:hover {
  color: red;
}

@media screen and (max-width:1024px) {
  .glass-container {
    justify-content: center;
    align-items: center;
    text-align: center;
    display: block;
    width: 100%;
  }
}

/* Responsive styles for even smaller screens (e.g., mobile phones) */
@media only screen and (max-width: 480px) {
  .glass-container {
    justify-content: center;
    align-items: center;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  .glass-lang-icon {
    font-size: 14px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
