.line-button-container{
    border: solid white 0.5px;
    margin: 10px;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
   opacity: 50%;
}
.line-button-title{
    font-size: 12px;
    font-weight: bold;
    color: white ;
    opacity: 70%;
}

