/* VerticalNavbar.css */


.vertical-navbar {
    background-color: transparent;
    overflow-x: hidden;
    padding-top: 20px;
    cursor: pointer;
    color: var(--color-2);
  }
  
  .vertical-navbar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
  }
  
  .vertical-navbar a:hover {
    color: var(--color-2);
  }
  
  .socials-contents-container{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 3%;

  }
  .contents-container{
    margin: 10px;
  }

  .contents-image{
    width: 100px;
    height: 70px;
    border-radius: 5px;
    
  }

  .contents-text{
    color: var(--color-2);;
    opacity: 50%;
    font-size: 12px;
    padding: 10px 0 10px 0;
  }

  @media only screen and (max-width: 480px) {
    .socials-contents-container{
      visibility: hidden;
    }

    section{
      
    }
  }