/* ProgressBar.css */

.progress-bar {
    border-radius: 20px;
    height: 5px; /* Adjust the height as needed */
    background-color: #6abcf727
  }
  
  .progress-fill {
    height: 100%;
    background-color: var(--main-var-color);
    border-radius: 20px;
  }
  